/* Write your CSS code here */
.User-info-container {
  height: 130px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.user-profile {
  height: 50px;
  width: 50px;
}
.name-user {
  color: #12022f;
  font-size: 20px;
}
.job-title {
  font-size: 14px;
  color: #616e7c;
}
